.card {
    padding: 30px;
    background-color: rgb(95, 160, 140);
    border: 1px solid black;
    border-radius: 5px;
    color: rgb(32, 64, 66);
    font-weight: bold;
    font-size: 36px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.button-box {
    display: flex;
    gap: 10px;
}