.joke-form {
    background-color: cadetblue;
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    background-color:darkslateblue;
    border: 1px solid black;
    padding: 10px;
    font-family: inherit;
    font-size: 26px;
    border-radius: 10px;
    width: min-content;
    color: deepskyblue;
}

.label {
    color: rgb(101, 227, 231);
}